@media only screen and (max-width: 1024px)  {
  .headerMainsiteDiv,
.rectangleDiv {
  width: 1020px !important;
}
 .mapViewButton{
    width: 20% !important;
  }
.signUpA{
width: 9% !important;
left: 85% !important;
}
.groupButton{
  width: 10% !important;
left: 94.9% !important;
}
.rectangleIframe {
  width: 1090px !important;
}
}

@media only screen and (min-width: 1440px) {
  .headerMainsiteDiv{
    width: 92% !important;
  }
  .mapViewButton{
    width: 15% !important;
  }
  .groupButton{
  left: 100% !important;
}
    .rectangleIframe{
    width: 96% !important;
  }
}
.rectangleIframe {
  border: 3px solid #32B29B!important;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  left: 40px;
  width: 97%;
  height: 884px;
  cursor: pointer;
}
.locationOnIcon {
  position: absolute;
  top: 737px;
  left: 312px;
  width: 40px;
  height: 40px;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 380px);
  left: 80px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.zoomInIcon,
.zoomOutIcon {
  position: absolute;
  top: 160px;
  left: 95%;
  width: 40px;
  height: 40px;
}
.zoomInIcon {
  top: 120px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  text-align: center;
  display: inline-block;
}
.mapViewButton {
  cursor: pointer;
  border: 2px solid var(--color-turquoise);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  position: absolute;
  top: 12.7%;
  left: 139px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 207px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  height: 83.33%;
  width: 21%;
  top: 0;
  right: 85.74%;
  bottom: 16.67%;
  left: 0;
  display: flex;
  align-items: center;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  height: 75%;
  width: 34.78%;
  top: 12.5%;
  right: 14.49%;
  bottom: 12.5%;
  left: 50.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
}
.groupDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupButton,
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  height: 66.67%;
  top: 16.67%;
  bottom: 16.67%;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 5%;
  right: 0;
  left: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
}
.signUpA,
.whatIsShareAshelf {
  display: flex;
  align-items: center;
}
.whatIsShareAshelf {
  margin: 0;
  width: 25%;
  right: 40.67%;
  left: 40.73%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  width: 4.85%;
  right: 6.34%;
  left: 95%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
}
.headerMainsiteDiv,
.rectangleDiv {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 93%;
  height: 60px;
}
.rectangleDiv {
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.formFooterDiv {
  position: absolute;
  top: 964px;
  left: 0;
  width: 1440px;
  height: 60px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.collaborationsMain {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}
