.legend {
  float: left;
  color: var(--bs-orange);
  width: 25%;
  background: white;
  padding: 0;
  margin-left: 38%;
  font-size: 12px;
  margin-top: -12px;
}


@media only screen and (min-width: 2500px)  {
  .frameDiv{
    width: 95% !important;
  }
  .whatIsShareAshelf{
    left: 50% !important;
  }
  .fieldDiv{
        width: 50% !important;
        left: -35px !important;
  }
  .frameAntDropdown{
    left: 0% !important;
  }
  .anticon svg {
    font-size: 20px !important;
  }
    .trailingIconFormCheck00, 
  .trailingIconFormCheck01,
  .trailingIconFormCheck02,
  .trailingIconFormCheck03,
  .trailingIconFormCheck04,
  .trailingIconFormCheck05{
    right: 86% !important;
  }
  .trailingIconFormCheck, 
  .trailingIconFormCheck1,
  .trailingIconFormCheck2,
  .trailingIconFormCheck3,
  .trailingIconFormCheck4,
  .trailingIconFormCheck5{
    right: 97.5% !important;
  }
    .trailingDataP00,
  .trailingDataP01,
  .trailingDataP02{
    right: 10% !important;
  }

  
  .trailingDataP03,
  .trailingDataP04,
  .trailingDataP05{
    right: 5% !important;
  }
  .trailingDataP,
  .trailingDataP1,
  .trailingDataP2
  {
    right: 90.5% !important;
  }
  .trailingDataP3,
  .trailingDataP4,
  .trailingDataP5{
    right: 5% !important;
  }
  .rectangleIframe{
    width: 235% !important;
  }
  .zoomInIcon,
.zoomOutIcon{
  width: 275% !important;
}
.trailingDataP3{
    top: 345px !important;
    left: 2.9% !important;
}

.trailingDataP4,
.trailingDataP5{
  left: 2.9% !important;
}

.hostCategoriesH6{
  left: 15px !important;
}
.signUpA{
  left: 97.3% !important;
}

}



@media only screen and (max-width: 1440px) {
  .frameDiv{
        width: 90% !important;
  }
  .frameAntDropdown{
    left: 5% !important;
  }
  .mapSectionDiv{
    border-radius: 20px !important;
    border: 3px solid #32B29B !important;
    width: 77% !important;
  }
  .rectangleIframe{
    border-radius: 20px !important;
    width: 100% !important;
  }
  .fieldDiv{
    left: -7% !important;
  }
  
}


@media only screen and (max-width: 1024px)
{
.frameDiv {
    width: 88%!important;
}

.whatIsShareAshelf{
  left: 45% !important;
}
.signUpA{
   left: 91% !important;
}
.frameAntDropdown{
  font-size: x-large !important;
}

.mapSectionDiv {
    border: 3px solid #32b29b !important;
    width: 68% !important;
    border-radius: 20px !important;
}
.rectangleIframe{
  border-radius: 20px !important;
}


}



.rectangleDiv {
  position: absolute;
  top: 172px;
  left: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 260px;
  height: 792px;
  cursor: pointer;
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}
.floatingLabelDiv {
  position: absolute;
  top: 164px;
  left: 144px;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-turquoise);
}
.augustStrong,
.collaborationDatesH6 {
  position: absolute;
  left: 52px;
  color: var(--color-black);
  display: inline-block;
}
.collaborationDatesH6 {
  margin: 0;
  top: 460px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong {
  top: 494px;
  font-weight: 700;
}
.trailingDataP {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 232px;
  right: 1164px;
  bottom: 776px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck {
  position: absolute;
  top: calc(50% - 284px);
  right: 1364px;
}
.trailingDataP1 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 268px;
  right: 1164px;
  bottom: 740px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck1 {
  position: absolute;
  top: calc(50% - 248px);
  right: 1364px;
}
.trailingDataP2 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 304px;
  right: 1164px;
  bottom: 704px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: calc(50% - 212px);
  right: 1364px;
}
.trailingDataP3,
.trailingDataP4 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 336px;
  right: 1152px;
  bottom: 672px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP4 {
  top: 380px;
  bottom: 628px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: calc(50% - 136px);
  right: 1364px;
}
.trailingIconFormCheck4 {
  top: calc(50% - 172px);
}
.trailingDataP5 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 416px;
  right: 1152px;
  bottom: 592px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: calc(50% - 100px);
  right: 1364px;
}
.hostCategoriesH6 {
  margin: 0;
  position: absolute;
  top: 194px;
  left: 100px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 447.5px;
  left: 51.5px;
  border-top: 1px solid #ffbb95;
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.rectangleIframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 884px;
  cursor: pointer;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.iconButton {
  
    transform: rotate(90deg);
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 402px);
  left: 40px;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon,
.zoomOutIcon {
  position: absolute;
  top: 80px;
  left: 97%;
  width: 40px;
  height: 40px;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon {
  top: 40px;
}
.locationOnIcon,
.mapSectionDiv {
  top: 599px;
  left: 200px;
}
.mapSectionDiv {
  top: 80px;
  left: 340px;
  width: 1060px;
  height: 884px;
}
.contactDiv,
.shareAshelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 100%;
  width: 11.17%;
  top: 0;
  right: 47.99%;
  bottom: 0;
  left: 40.84%;
  display: inline-block;
}
.contactDiv,
.shareAshelfLtdDiv,
.termsOfService {
  width: 10.62%;
  right: 30.04%;
  left: 59.34%;
}
.shareAshelfLtdDiv,
.termsOfService {
  width: 22.71%;
  right: 0;
  left: 77.29%;
}
.shareAshelfLtdDiv {
  width: 32.78%;
  right: 67.22%;
  left: 0;
}
.footerHostsDiv {
  position: absolute;
  top: 983px;
  left: 40px;
  width: 555px;
  height: 22px;
  color: var(--color-gray-500);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 97%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
}
.whatIsShareAshelf {
  margin: 0;
  left: 554px;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 40px;
}
.frameDiv,
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 93%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 9%;
  height: 40px;
}
.frameDiv {
  left: 40px;
  width: 95%;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}


.submenu {
  margin-left: 30px;
  text-decoration: none;
  color: var(--color-black);
}
.submenu a{
  text-decoration: none;
  color: var(--color-black);
}

.fieldDiv,
.frameAntDropdown {
  text-decoration: none;
  color: var(--color-black);
  position: absolute;
  top: 0;
  left: 8%;
  font-size: x-large;
}


.fieldDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
}
.mobileMenuDiv {
  position: absolute;
  height: 5.84%;
  width: 12.06%;
  top: 7.81%;
  right: 79.17%;
  bottom: 86.35%;
  left: 2.78%;
}
.hostsDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-open-sans);
}













.rectangleIframe {
    border-radius: 20px!important;
    width: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
  height: 884px;
  cursor: pointer;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.locationOnIcon,
.mapSectionDiv,
.zoomInIcon,
.zoomOutIcon {
  position: absolute;
  top: 80px;
  left: 97%;
  width: 40px;
  height: 40px;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon {
  top: 40px;
}
.locationOnIcon,
.mapSectionDiv {
  top: 599px;
  left: 200px;
}
.mapSectionDiv {
  top: 80px;
  border-radius: 20px !important;
  border: 3px solid #32B29B !important;
  left: 340px;
  width: 80%;
  height: 884px;
}
.contactDiv,
.shareAshelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 100%;
  width: 11.17%;
  top: 0;
  right: 47.99%;
  bottom: 0;
  left: 40.84%;
  display: inline-block;
}
.contactDiv,
.shareAshelfLtdDiv,
.termsOfService {
  width: 10.62%;
  right: 30.04%;
  left: 59.34%;
}
.shareAshelfLtdDiv,
.termsOfService {
  width: 22.71%;
  right: 0;
  left: 77.29%;
}
.shareAshelfLtdDiv {
  width: 32.78%;
  right: 67.22%;
  left: 0;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.whatIsShareAshelf {
  margin: 0;
  left: 45%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 40px;
}

.rectangleDiv {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 260px;
  height: 792px;
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}
.floatingLabelDiv,
.trailingDataP00 {
  position: absolute;
  display: flex;
  align-items: center;
}
.floatingLabelDiv {
  top: 0;
  left: 104px;
  background-color: var(--color-gray-200);
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-turquoise);
}
.trailingDataP00 {
  margin: 0;
  height: calc(100% - 784px);
  top: 60px;
  right: 24px;
  bottom: 724px;
  letter-spacing: 0.4px;
  line-height: 16px;
  width: 188px;
}
.trailingIconFormCheck00 {
  position: absolute;
  top: calc(50% - 344px);
  right: 224px;
}
.trailingDataP01 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 96px;
  right: 24px;
  bottom: 688px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck01 {
  position: absolute;
  top: calc(50% - 308px);
  right: 224px;
}
.trailingDataP02 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 132px;
  right: 24px;
  bottom: 652px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck02 {
  position: absolute;
  top: calc(50% - 272px);
  right: 224px;
}
.trailingDataP03,
.trailingDataP04 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 168px;
  right: 12px;
  bottom: 616px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP04 {
  top: 204px;
  bottom: 580px;
}
.trailingIconFormCheck03,
.trailingIconFormCheck04 {
  position: absolute;
  top: calc(50% - 200px);
  right: 224px;
}
.trailingIconFormCheck04 {
  top: calc(50% - 236px);
}
.trailingDataP05 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 240px;
  right: 12px;
  bottom: 544px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck05 {
  position: absolute;
  top: calc(50% - 164px);
  right: 224px;
}
.productCategoriesH6 {
  margin: 0;
  top: 22px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong,
.collaborationDatesH6,
.productCategoriesH6 {
  position: absolute;
  left: 12px;
  color: var(--color-black);
  display: inline-block;
}
.collaborationDatesH6 {
  margin: 0;
  top: 550px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong {
  top: 584px;
  font-weight: 700;
}
.lineDiv {
  position: absolute;
  top: 271.5px;
  left: 11.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.trailingDataP6 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 322px;
  right: 24px;
  bottom: 462px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck6 {
  position: absolute;
  top: calc(50% - 82px);
  right: 224px;
}
.trailingDataP7 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 358px;
  right: 24px;
  bottom: 426px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck7 {
  position: absolute;
  top: calc(50% - 46px);
  right: 224px;
}
.trailingDataP8 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 394px;
  right: 24px;
  bottom: 390px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck8 {
  position: absolute;
  top: calc(50% - 10px);
  right: 224px;
}
.trailingDataP10,
.trailingDataP9 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 434px;
  right: 12px;
  bottom: 350px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP10 {
  top: 470px;
  bottom: 314px;
}
.trailingIconFormCheck10,
.trailingIconFormCheck9 {
  position: absolute;
  top: calc(50% - -66px);
  right: 224px;
}
.trailingIconFormCheck10 {
  top: calc(50% - -30px);
}
.trailingDataP11 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 506px;
  right: 12px;
  bottom: 278px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck11 {
  position: absolute;
  top: calc(50% - -102px);
  right: 224px;
}
.hostCategoriesH6 {
  margin: 0;
  position: absolute;
  top: 284px;
  left: 12px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.lineDiv1 {
  position: absolute;
  top: 537.5px;
  left: 11.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.menuPackDiv {
  position: absolute;
  top: 164px;
  left: 40px;
  width: 260px;
  height: 800px;
  color: var(--color-gray-700);
}
.contentAntDropdown,
.fieldDiv {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.contentAntDropdown {
  width: calc(100% - 35px);
  right: 19px;
  left: 16px;
}
.fieldDiv {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
}
.mobileMenuDiv {
  position: absolute;
  height: 5.47%;
  width: 12.06%;
  top: 7.81%;
  right: 79.17%;
  bottom: 86.72%;
  left: 2.78%;
  cursor: pointer;
}
.collaborationDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}

