@media only screen and (min-width: 2500px)  {
  .lineDiv{
    width: 100% !important;
  }
  .formHeaderDiv{
    width: 95% !important;
  }
  .whatIsShareAshelf{
    width: 60% !important;
  }
  .theCollaborativeMarketplace{
    left: 40% !important;
  }
  .letsGetYouConnected{
    left: 41% !important;
  }
  .trailingDataH6{
    right: 51% !important;
  }
  .signupForm{
    left: 42.6% !important;
  }
  .formFooterDiv,
  .lineDiv1{
    width: 100% !important;
  }
}
@media only screen  and (max-width: 1440px) { 
  .lineDiv{
    width: 108% !important;
  }
  .whatIsShareAshelf{
    width: 25% !important;
  }
  .theCollaborativeMarketplace{
    left: 35% !important;
  }
  .letsGetYouConnected{
    left: 37% !important;
  }
  .trailingDataH6{
    right: 50% !important;
  }
  .signupForm{
    left: 40% !important;
  }
  .formFooterDiv,
  .lineDiv1{
    width: 100% !important;
  }

}


@media only screen and (max-width: 1024px) {
  
  .lineDiv{
    width: 100% !important;
  }
  .formHeaderDiv{
    width: 88.5% !important;
  }
  .whatIsShareAshelf{
    width: 25%!important;
    left: 40% !important;
  }
  .theCollaborativeMarketplace{
    left: 28% !important;
  }
  .letsGetYouConnected{
    left: 30% !important;
  }
  .trailingDataH6{
    right: 51% !important;
  }
  .signupForm{
    left: 35% !important;
  }
  .formFooterDiv,
  .lineDiv1{
    width: 100% !important;
  }
}




.lineDiv {
  position: absolute;
  top: 69.5px;
  left: -35.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: -35px;
  display: flex;
  align-items: center;
  width: 545px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  height: 40px;
}
.groupButton {
 border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 93%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 86.25px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 45%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
}
.formHeaderDiv {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 100%;
  height: 70px;
  color: var(--color-red);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv1 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.formFooterDiv {
  position: absolute;
  top: 964px;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.letsGetYouConnected {
  margin: 0;
  position: absolute;
  top: 202px;
  left: 40%;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  color: var(--color-turquoise);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 423px;
  height: 41px;
}
.passwordDiv,
.trailingDataH6 {
  position: absolute;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.trailingDataH6 {
  margin: 0;
  height: calc(100% - 1008px);
  top: 283px;
  left: 42%;
  bottom: 725px;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 188px;
}
.passwordDiv {
  top: 272px;
  left: 0;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.rectangleInput {
  border: 1px solid var(--color-red);
  background-color: transparent;
  position: absolute;
  top: 306px;
  left: 0;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 348px;
  height: 40px;
}
.retypePasswordDiv {
  position: absolute;
  top: 358px;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.rectangleInput1 {
  border: 1px solid var(--color-red);
  background-color: transparent;
  position: absolute;
  top: 392px;
  left: 0;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 348px;
  height: 40px;
}
.usernameDiv {
  position: absolute;
  top: 186px;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.rectangleInput2 {
  border: 1px solid var(--color-red);
  background-color: transparent;
  top: 220px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 348px;
  height: 40px;
}
.emailDiv,
.emailInput,
.rectangleInput2 {
  position: absolute;
  left: 0;
}
.emailDiv {
  top: 100px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.emailInput {
  border: 1px solid var(--color-red);
  background-color: transparent;
  top: 134px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 348px;
  height: 40px;
}
.trailingDataDiv,
.trailingDataDiv1 {
  position: absolute;
  height: calc(100% - 496px);
  top: 4px;
  right: 124px;
  bottom: 492px;
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  text-align: left;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingDataDiv1 {
  top: 40px;
  bottom: 456px;
}
.radioButtonCheckedFormControlLabel {
  position: absolute;
  top: 36px;
  left: 0;
}
.radioButtonUncheckedFormControlLabel {
  position: absolute;
  top: 0;
  left: 0;
}
.labelText {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.signupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-red);
  position: absolute;
  top: 472px;
  left: 124px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.signupForm {
  position: absolute;
  top: 311px;
  left: 42%;
  width: 348px;
  height: 512px;
}
.theCollaborativeMarketplace {
  margin: 0;
  position: absolute;
  top: 146px;
  left: 39%;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  text-align: center;
  display: inline-block;
}
.signupMain {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-700);
  font-family: var(--font-nunito);
}
