.groupButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 1274px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 554px;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  width: 62px;
}
.frameDiv2 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.arrowForwardIosIcon1 {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.arrowForwardIosIcon {
  color: var(--color-red-100);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  position: absolute;
  top: calc(50% - 377px);
  left: 95%;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.iconButton,
.iconButton1,
.vendorProfileMain {
  background-color: var(--m3-sys-light-on-primary);
}
.iconButton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  position: absolute;
  top: calc(50% - 417px);
  left: 5%;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrowForwardIosIcon1 {
  color: var(--color-red);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}
.arrowForwardIosIcon {
  color: var(--color-red);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: x-large;
}



@media only screen and (min-width: 2500px)  {
  .frameDiv2{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 50% !important;
  }
  .signUpA{
    left: 92.5% !important;
    width: 20% !important;
  }
  .groupButton,
  .vectorIcon2{
        left: 95% !important;
  }
  .rectangleIcon,
  .lineDiv,
  .lineDiv1,
  .lineDiv2,
  .footerDiv,
  .vectorIcon,
  .loremIpsumDolorSitAmetCo{
    width: 100% !important;
  }
  .vectorIcon{
    left: 49% !important;
  }
  .vectorIcon1{
    left: 96.5% !important;
  }

  .alphaCostumesMakesPremiumC{
        font-weight: 500 !important;
        width: 100% !important;
  }


}


@media only screen and (max-width: 1024px) {

.groupButton{
  left: 88% !important;
}

.signUpA{
  left: 82% !important;
}
}




.rectangleIcon {
  position: absolute;
  top: 80px;
  left: 40px;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.span {
  color: var(--color-gray-400);
}
.vendorI {
  font-weight: 500;
}
.alphaCostumesVendor {
  margin: 0;
  position: absolute;
  top: 492px;
  left: 320px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  font-family: var(--font-nunito);
}
.alphaCostumesMakesPremiumC,
.alphacosplaycarrdcoH6 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-weight: 400;
  display: inline-block;
}
.alphaCostumesMakesPremiumC {
  top: 652px;
  left: 40px;
  font-family: var(--font-nunito);
  width: 97%;
}
.alphacosplaycarrdcoH6 {
  top: 560px;
  left: 320px;
  text-decoration: underline;
  font-family: inherit;
  width: 288px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 511px;
  left: 97%;
  width: 20.8px;
  height: 24px;
}
.vectorIcon1,
.vectorIcon2 {
  left: 94%;
  width: 24px;
}
.vectorIcon2 {
  left: 91%;
}
.loremIpsumDolorSitAmetCo {
  margin: 0;
  position: absolute;
  top: 738px;
  left: 40px;
  font-size: var(--font-size-lg);
  line-height: 160%;
  display: inline-block;
  width: 97%;
  height: 117px;
}
.ellipseIcon {
  position: absolute;
  top: 412px;
  left: 80px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.clothingCraftsArtist {
  margin: 0;
  position: absolute;
  top: 560px;
  left: 620px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-turquoise);
  text-align: center;
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 894.5px;
  left: 40.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.clickOnTheCollaborationTo,
.seeUpcomingCollaborations {
  margin: 0;
  position: absolute;
  left: 41px;
  display: inline-block;
}
.seeUpcomingCollaborations {
  top: 907px;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.clickOnTheCollaborationTo {
  top: 957px;
  font-size: var(--font-size-base);
}
.rectangleIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 133px;
  object-fit: cover;
}
.jamesCafeH3,
.shelfSpaceH6 {
  margin: 0;
  left: 12px;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
}
.jamesCafeH3 {
  position: absolute;
  top: 145px;
  font-weight: 700;
  width: 217px;
}
.shelfSpaceH6 {
  top: 167px;
  font-weight: 400;
  color: var(--color-turquoise);
}
.frameDiv,
.h6,
.shelfSpaceH6 {
  position: absolute;
}
.h6 {
  margin: 0;
  top: 229px;
  left: 11px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-align: right;
  display: inline-block;
}
.frameDiv {
  top: 991px;
  left: 41px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.counterSpace2 {
  margin: 0;
  top: 167px;
  left: 12px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-turquoise);
  display: inline-block;
  width: 217px;
}
.counterSpace2,
.frameDiv1,
.h61 {
  position: absolute;
}
.h61 {
  margin: 0;
  top: 229px;
  left: 12px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-align: right;
  display: inline-block;
}
.frameDiv1 {
  top: 991px;
  left: 303px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv1 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.footerDiv {
  position: absolute;
  top: 1294px;
  left: 0;
  width: 100%;
  height: 41px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 93%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 35%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
  width: 30%;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 88%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  width: 20%;
}
.frameDiv2 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 98%;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}
.vendorProfileMain {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1354px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
